{% extends 'list.html' %} 


{% block columns %}
<tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Opciones</th>
  </tr>
{% endblock columns %}
    


{% block rows %}
{% for category in object_list %}
<tr>
  <th scope="row">{{category.id}}</th>
  <td>{{category.name}}</td>
  <td>
    <a href="{% url 'erp:category_edit' category.id %}" type="button" class="btn btn-warning btn-xs">
      <i class="fas fa-edit"></i>
    </a>
    <button type="button" class="btn btn-danger btn-xs">
      <i class="fas fa-trash"></i>
    </button>
  </td>
</tr>
{% endfor %}
{% endblock rows %}
    


