{% extends 'layout.html' %}
{% block content %}

<form id="formCreation" action="" method="post">
  <div class="card card-default">
    <div class="card-header">
      <h3 class="card-title">
        {{title}}
        
        {% if action == 'add' %}
        <i class="fas fa-plus"></i>
        {% else %}
        <i class="fas fa-edit"></i>
        {% endif %}
          
        
      </h3>
    </div>
    <div class="card-body">
      {% csrf_token %} 
      <input type="hidden" name="action" value="{{action}}">        
      {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="">{{field.label}}:</label>
            {{field}}
        </div>
      {% endfor %}
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary btnRegistro">
        <i class="fas fa-save"></i> Guardar registro
      </button>
    </div>
  </div>   
</form>

<script>
  // Esto es para el FormView
    // {% if form.errors %}
    // let errors = '';
    //     {% for field in form  %}
    //         {% for error in field.errors  %}
    //             errors += '{{error}}\n'
    //         {% endfor %}
    //     {% endfor %}
    //     {% for error in form.non_field_errors  %}
    //             errors += '{{error}}\n'
    //     {% endfor %}
    //     Swal.fire({
    //         title: "Error!",
    //         text: errors,
    //         icon: "error",
    //         confirmButtonText: "Ok",
    //     });
    // {% endif %}

    // Sin formView
    let formCreation = document.getElementById('formCreation');
    formCreation.addEventListener('submit', (e) => {
      e.preventDefault();
      myForm = new FormData(e.target)

      confirmMessage(window.location.pathname, "POST", myForm, function(){
        location.href = '{{list_url}}'
      });

      // fetch(
      //   // '{% url "erp:category_add" %}',
      //   window.location.pathname,
      //    {
      //   method: "POST",
      //   body: myForm,
      // }).then(rpta => rpta.json()).then(result => 
      //   {        
      //   if(!result.hasOwnProperty('error')){

      //     Swal.fire({
      //     title: 'Creado correctamente!',
      //     icon: 'success',
      //     // html: 'I will close in <b></b> milliseconds.',
      //     timer: 2000,
      //     timerProgressBar: true,
      //     showConfirmButton: false,
      //     }).then((result) => {
      //     if (result.dismiss === Swal.DismissReason.timer) {
      //       location.href = '{{list_url}}'
      //       }
      //     })

      //   } else {
      //     console.log(result)
      //     showFormErrors(result.error);
      //   }
      // }
      // ).catch(error => console.error('Error:', error));
    })


</script>

{% endblock %}
